body{
    background-color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sahitya', serif;
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    color: #19202E;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.all{
    background-color: #FFFFFF;
    height: fit-content;
    width: 720px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 5px 5px 10px black; */
    transition: all ease 0.25s;
    overflow: hidden;
    gap: 20px;
}
header{
    width: 100%;
    height: fit-content; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #0489B1;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    position: relative;
    margin-left: 20px;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 7px black;
}
.bottonsnav{
    display: flex;
    gap: 35px;
    font-size: 20px;
    margin-right: 20px;
}
.bottonsnav a{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 7px black;
    font-weight: 800;

}
.bottonsnav a:hover{
    color: bisque;
}
.navnews{
   color: #0489B1;
   display: flex;
   align-items: center;
}
.portal{
    height: 20px;
    width: 20%;
    display: flex;
}
.rectangle{
    height: 20px;
    width: 90%;
    background-color: red;
    display: flex; 
    color: white;
    text-align: center;
    padding-left: 6px;
}
.traingle{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid red;
	border-bottom: 10px solid transparent;  
}
.newsportal{
    width: 80%;
    background-color: #F2F2F2;
}

/* main part starts form here */
main{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
main .home{
    display: flex;
    justify-content: space-around;
}
main .home .profilePhoto{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
main .home .profilePhoto #ph{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 2px solid red;
    box-shadow: 2px 2px 10px;

}
main .home .profilePhoto #fg{
    position: absolute;
    height: 70px;
    margin-top: -90px;
    margin-left: 135px;
}
main .home .saying{
    width: 300px;
    height: fit-content;
    /* background-color: #0489B1; */
    padding: 15px;
    font-size: 17px;
    color: black;
    margin-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sahitya', serif;
    font-family: 'Source Serif 4', serif;
    font-weight: 510;
}
#namehola{
    font-weight: 550;
}
#namehola:hover{
    filter: invert(0.2);
}

/* blogs */


main .blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    
}
main .blog h1{
    font-size: 20px;
}
.topic1{
    display: flex;
    gap: 5px;
}
main .blog h1:hover{
    filter: invert(0.2);
    cursor: pointer;
}
hr{
    color: black;
    height: 1px;
    width: 100%;
    margin-top: -5px;
}
main .blog .creation{
    height: fit-content;
    /* background-color: #0489B1; */
    display: flex;
    justify-content: space-around;
}
.sayhitya, .mythoughts{
    height: 200px;
    width: 300px;
    background-color: #F2F2F2;
    padding: 5px;
}
.sayhitya h1{
    text-decoration: underline;
    text-align: center;
}
.story ol li{
    font-size: 20px;
    margin-top: 5px;
}
.story ol li a{
   text-decoration: none;
   color: black;
   font-size: 17px;
}
.story .fa-eye{
    margin-left: 50px;
}
.story .fa-sharp{
    margin-left: 40px;

}
.story .hd{
    margin-left: 35px;

}
.mythoughts h1{
    text-decoration: underline;
    text-align: center;
}
.mythoughts li{
    font-size: 20px;
    margin-top: 5px;
    
}
.mythoughts .fa-eye{
    margin-left: 20px;
    margin-right: 15px;
}

/* download section  */

main .download{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 30px;
    /* background-color: red;  */
}
main .download h1{
    font-size: 20px;
}
.mythoughts ol li a{
    text-decoration: none;
    color: black;
   font-size: 17px;

 }

 
 main .download .teacherko{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.cls45 ,.cls612{
    height: 180px;
    width: 300px;
    background-color: #F2F2F2;
    padding: 5px;
}
.cls45 h1, .cls612 h1{
    text-align: center;
}

main .download .bidhyarthiko{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.elements ol li a{
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
    color: black;
}
.elements ol li a:hover{
    filter: opacity(0.9);
}
.elements ol li .fa-solid:hover{
    text-shadow: 1px 1px 5px black;
}

/* about me section starts here  */
main .gallary{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 30px;
    /* background-color: red;  */
}
main .gallary h1{
    font-size: 20px;
}

.gallery-container {
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    align-self: center;
}

.gallery-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* detail  */


 main .aboutMe{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 30px;
    /* background-color: red;  */
}
main .aboutMe h1{
    font-size: 20px;
}
.aboutMe .detailsMe{
    height: fit-content;
    width: 100%;
    /* background-color: #0489B1; */
    display: flex;
    justify-content: space-around;
}
.education, .experience{
    background-color: #F2F2F2;
    width: 300px; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 

}
.detailsMe  h1{
    text-align: center;
}
.detailsMe .education ul li , .detailsMe .experience ul li, .detailsMe .experience ol li{
    text-decoration: none;
    color: black;
   font-size: 17px;
 }
 .aboutMe .moreaboutMe{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 .moreaboutMe .lahaila{
    height: fit-content;
    /* background-color: #0489B1; */
    display: flex;
    justify-content: space-around;
 }
 .iplink , .YTlink{
    height: 250px;
    width: 300px;
    background-color: #F2F2F2;
    padding: 5px;
 }
 .iplink h1 , .YTlink h1{
    text-align: center;
 }
 .linkharu ol li a{
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
    color: black;
}
.linkharu ol li a:hover{
    filter: opacity(0.9);
    
}
footer{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    filter: opacity(0.5);
}
.contact{
    display: flex;
    gap: 20px;
}
